body
{

}
.heading
{
    width: 100%;
    text-align: center;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid greenyellow;
    color: greenyellow;
}
#start, #status
{
    font-size: 25px;
}
h4
{
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.modal-dialog
{
    width: 93%;
    text-align: center;
    font-size: 20px;
}
#footer
{
    margin: 0px;
}
canvas
{
    border-radius: 2%;
    box-shadow: 5px 6px 5px white ;
}